.jfx-button-green {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 20;
    -fx-cursor: hand;
    -fx-padding: 10 20;
}
.jfx-button-green:hover {
    -fx-background-color: #388E3C;
}
