.table-view {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 10;
    -fx-table-cell-border-color: transparent;
}

.table-column {
    -fx-alignment: CENTER-LEFT;
}

.table-view .column-header-background {
    -fx-background-color: #1976D2; /* Material Blue */
    -fx-padding: 0 0 5 0;
}

.table-view .column-header {
    -fx-background-color: #1976D2;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: transparent;
}

.table-view .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-row-cell {
    -fx-background-color: white;
    -fx-border-color: transparent transparent #eeeeee transparent;
}

.table-row-cell:hover {
    -fx-background-color: #E3F2FD;
}

.table-row-cell:filled:selected, .table-row-cell:filled:selected:hover {
    -fx-background-color: #BBDEFB;
    -fx-text-fill: black;
}

.table-cell {
    -fx-padding: 8px;
    -fx-font-size: 14px;
    -fx-text-fill: #212121;
}
